body {
  background-color: black;
  text-align: center;
}

#title img {
  padding-top: 50px;
  margin-bottom: -20px;
  padding-bottom: 40px;
  z-index: 9999;
}

#logo img {
  z-index: -1000;

}

/*  Flashing Text  */
.blink {
  text-align: center;
  color: white;
  font-family: "Press Start 2P";
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 1em;
}
.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
   
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
   
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@-moz-keyframes blinker { 
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes blinker { 
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes blinker { 
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}